:root {
	--blur: 0px;
	--spread: 0px;
	--pixel-size: 1px;
	--gutter-size: 0px;
	--shadow-mult: calc(var(--gutter-size) + var(--pixel-size));
}

.pixel-art {
	position: relative;
	top: 0;
	left: 0;
	height: var(--pixel-size);
	width: var(--pixel-size);
	box-shadow:

	calc(10*var(--shadow-mult)) calc(1*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(11*var(--shadow-mult)) calc(1*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(17*var(--shadow-mult)) calc(1*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(18*var(--shadow-mult)) calc(1*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(19*var(--shadow-mult)) calc(1*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(10*var(--shadow-mult)) calc(2*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(11*var(--shadow-mult)) calc(2*var(--shadow-mult)) var(--blur) var(--spread) #EEC39A,
	calc(12*var(--shadow-mult)) calc(2*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(16*var(--shadow-mult)) calc(2*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(17*var(--shadow-mult)) calc(2*var(--shadow-mult)) var(--blur) var(--spread) #EEC39A,
	calc(18*var(--shadow-mult)) calc(2*var(--shadow-mult)) var(--blur) var(--spread) #EEC39A,
	calc(19*var(--shadow-mult)) calc(2*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(10*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(11*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(12*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(13*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(14*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(15*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(16*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #EEC39A,
	calc(17*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(18*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(19*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(10*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(11*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(12*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(13*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(14*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(15*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(16*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(17*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(18*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(19*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(10*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(11*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(12*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(13*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #D9A066,
	calc(14*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(15*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(16*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #D9A066,
	calc(17*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(18*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(10*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(11*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(12*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(13*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #341712,
	calc(14*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(15*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(16*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #341712,
	calc(17*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(18*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(9*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(10*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(11*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(12*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #EEC39A,
	calc(13*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(14*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(15*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(16*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #EEC39A,
	calc(17*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(18*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(19*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(2*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(3*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(9*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(10*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #EEC39A,
	calc(11*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #EEC39A,
	calc(12*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(13*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(14*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(15*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(16*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(17*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #EEC39A,
	calc(18*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #EEC39A,
	calc(19*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #EEC39A,
	calc(1*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(2*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(3*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(10*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(11*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(12*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(13*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(14*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(15*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(16*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(17*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(18*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #EEC39A,
	calc(19*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(1*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(2*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(3*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(4*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(5*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(6*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(7*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(8*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(9*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(10*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(11*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #F3DFCB,
	calc(12*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #F3DFCB,
	calc(13*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #F3DFCB,
	calc(14*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #D95763,
	calc(15*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #F3DFCB,
	calc(16*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #F3DFCB,
	calc(17*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #F3DFCB,
	calc(18*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #EEC39A,
	calc(19*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(1*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(2*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(3*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(4*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(5*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(6*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(7*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(8*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(9*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(10*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(11*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(12*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(13*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(14*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(15*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(16*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(17*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(18*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(1*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(2*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(3*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(4*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(5*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(6*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(7*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(8*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(9*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(10*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(11*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(12*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #F3DFCB,
	calc(13*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(14*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(15*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(16*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(17*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #F3DFCB,
	calc(18*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(2*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(3*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(4*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(5*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(6*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(7*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(8*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(9*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(10*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(11*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(12*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #F3DFCB,
	calc(13*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(14*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(15*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(16*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(17*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(18*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(2*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(3*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(4*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(5*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #F3DFCB,
	calc(6*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #F3DFCB,
	calc(7*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #F3DFCB,
	calc(8*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #F3DFCB,
	calc(9*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #F3DFCB,
	calc(10*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(11*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(12*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(13*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #F3DFCB,
	calc(14*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(15*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(16*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #F3DFCB,
	calc(17*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(18*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(2*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(3*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(4*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(5*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(6*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(7*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(8*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(9*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(10*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(11*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(12*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(13*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(14*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #F3DFCB,
	calc(15*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #F3DFCB,
	calc(16*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(17*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(3*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(4*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(6*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(7*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(11*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(12*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(13*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(14*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(15*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #222034,
	calc(16*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #45283C,
	calc(17*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(2*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(3*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(4*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(6*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(7*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(8*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(11*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(12*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(13*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(16*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(17*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF,
	calc(18*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #FFFFFF;
}
